# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
venv/

# local
core/staticfiles
settings-local.py

htmlcov/
.coverage
.coverage.*

# Git
.git
.gitignore

# Docker
.docker